<div>
  {{#if identity.username}}
    {{#collapsible-div as |collapse|}}
    {{#if collapse.isTitle}}
      <span>Welcome, {{identity.username}}</span>
    {{else if collapse.isContent}}
      <a class="button" {{action "logOut"}}>Log Out</a>
    {{/if}}
    {{/collapsible-div}}
  {{else}}
    <a class="button" {{action "logIn"}}>Log in</a>
  {{/if}}
</div>

{{yield}}
