<div>
  <label for="{{concat elementId "username"}}">Username</label>
  {{input value=username id=(concat elementId "username")}}
  <label for="{{concat elementId "password"}}">Password</label>
  {{input value=password id=(concat elementId "password")}}
</div>

<button {{action 'login'}}>Go</button>

{{outlet}}


