<div class="action-buttons">
  <a class="button {{if selectedLeague "disabled"}}" {{action "createLeague"}}>Create New</a>
  {{#if selectedLeague}}
      <div class="right-buttons">
        <a class="button" {{action "cancelLeague"}}>Cancel</a>
        <a class="button" {{action "submitLeague"}}>Save</a>
      </div>
  {{/if}}
</div>

{{#if selectedLeague}}
  <div class="panes-body">
    <div class="form-selector">
      <div class="{{if (eq formMode "league") "active"}}" {{action "switchMode" "league"}}> 
        {{fa-icon "user"}}
      </div>
      <div class="{{if (eq formMode "standings") "active"}}" {{action "switchMode" "standings"}}>                 
        {{fa-icon "trophy"}}
      </div>
      <div class="{{if (eq formMode "teams") "active"}}" {{action "switchMode" "teams"}}>                 
        {{fa-icon "users"}}
      </div>
      <div class="{{if (eq formMode "results") "active"}}" {{action "switchMode" "results"}}>
        {{fa-icon "fa-futbol-o"}}
      </div>
    </div>


    {{#if (eq formMode "league") }}
      {{create-edit-league/form-fields
        league=selectedLeague
      }}
    {{else if (eq formMode "standings") }}
      {{create-edit-league/standings
        teams=teams
        league=selectedLeague
      }}
    {{else if (eq formMode "teams") }}
      {{create-edit-league/choose-teams
        league=selectedLeague
        teams=teams
      }}
    {{else if (eq formMode "results") }}
      {{create-edit-league/enter-results
        league=selectedLeague
        teams=teams
      }}
    {{/if}}
    </div>
    <div class="action-buttons">
        <div></div>
        <div class="right-buttons">
            <a class="button" {{action "cancelLeague"}}>Cancel</a>
            <a class="button" {{action "submitLeague"}}>Save</a>
        </div>
    </div>
{{/if}}

{{yield}}
