<div class="resource-list-header">
  {{#collapsible-div as |collapse|}}
    {{#if collapse.isTitle}}
      <span>Filter Leagues</span>
    {{/if}}
    {{#if collapse.isContent}}
      {{text-filter
        placeholder="Search Names..."
        onUpdate=(action 'filter')
        filterField='name'  
        }}
      {{/if}}
    {{/collapsible-div}}
</div>

<div class="resource-list">
  <div class="column">
    <div class="header">Name</div>
    {{#each rows as |row|}}
      <div class="row {{if row.selected "selected"}} {{if row.isHovered "hovered"}}"
           {{action "rowSelected" row}}>
        {{resource-list/cell record=row value=row.name}}
        </div>
    {{/each}}
  </div>
  <div class="column">
    <div class="header">Age</div>
    {{#each rows as |row|}}
      <div class="row {{if row.selected "selected"}} {{if row.isHovered "hovered"}}"
           {{action "rowSelected" row}}>
        {{resource-list/cell record=row value=row.age}}
        </div>
    {{/each}}
  </div>
  <div class="column">
    <div class="header">Gender</div>
    {{#each rows as |row|}}
      <div class="row {{if row.selected "selected"}} {{if row.isHovered "hovered"}}"
           {{action "rowSelected" row}}>
        {{resource-list/cell record=row value=row.gender}}
        </div>
    {{/each}}
  </div>
</div>

{{yield}}
