<div class="action-buttons">
  <a class="button {{if selectedPlayer "disabled"}}" {{action "createPlayer"}}>Create New</a>
  {{#if selectedPlayer}}
  <div class="right-buttons">
    <a class="button" {{action "cancelPlayer"}}>Cancel</a>
    <a class="button" {{action "submitPlayer"}}>Save</a>
  </div>
  {{/if}}
</div>

{{#if selectedPlayer}}
<div class="form-fields">
  <div class="field">
    <label for="{{concat elementId "name"}}">Name</label> 
    {{input value=selectedPlayer.name id=(concat elementId "name")}}
  </div>

  <div class="field">
    <label for="{{concat elementId "age"}}">Age</label>
    {{input value=selectedPlayer.age id=(concat elementId "age")}}
  </div>

  <div class="field">
    <label for="{{concat elementId "gender"}}">Gender</label>
    {{input value=selectedPlayer.gender id=(concat elementId "gender")}}
  </div>
</div>

<div class="right-buttons">
  <a class="button" {{action "cancelPlayer"}}>Cancel</a>
  <a class="button" {{action "submitPlayer"}}>Save</a>
</div>
{{/if}}

{{yield}}
